:root {
  /* #2E8AE6 is base color */
  /* --darkest: rgb(33, 99, 166, 0.65);
  --flatText: rgb(20, 61, 102, 0.4);
  --lightest: rgb(46, 138, 230, 0.9);
  --grayTone: rgb(48, 145, 242, 0.95);
  --offDark: rgba(41, 122, 204, 0.8);
  --textcolor1: rgb(255, 255, 255, 1); */

  --mainbackg: rgb(41, 75, 49, 0.9);
  --backg1: linear-gradient(0deg, rgba(41, 75, 49, 0.782), rgba(33, 49, 29, 0.82));
/* --backg1: linear-gradient(0deg, rgb(41, 75, 49, 0.3), rgb(23, 69, 115, 0.7)); */

  /* --darkest: rgba(15, 30, 35, 0.95);
  --flatText: rgb(192, 203, 227, 0.6);
  --lightest: rgb(192, 203, 227, 0.95);
  --grayTone: rgb(127, 160, 232, 0.91);
  --offDark: rgb(55, 65, 99, 0.39);
  --textcolor1: rgb(255, 255, 255, 1); */
  
  --darkest: rgba(20, 30, 24, 1);
  --flatText: rgba(2, 2, 2);
  --lightest: rgba(124, 200, 154, 1);
  --grayTone: rgba(127, 138, 131, 1);
  --offDark: rgba(174, 189, 180, 1);
  --textcolor1: rgba(255, 255, 255, 1);

  /* --darkest: rgb(3, 42, 82, 1);
  --flatText: rgb(121, 169, 217, 1);
  --lightest: rgb(8, 109, 209, 1);
  --grayTone: rgb(109, 111, 112, 1);
  --offDark: rgb(6, 81, 158, 1);
  --textcolor1: rgb(255, 255, 255, 1); */

}



.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
